apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "31"
    field.cattle.io/publicEndpoints: '[{"port":30001,"protocol":"TCP","serviceName":"musti-apps:meiraaccessories-nodeport","allNodes":true},{"addresses":["192.168.50.100"],"port":80,"protocol":"HTTP","serviceName":"musti-apps:meiraaccessories","ingressName":"musti-apps:meira","hostname":"*.meiraaccessories.com","path":"/","allNodes":false}]'
  generation: 69
  labels:
    workload.user.cattle.io/workloadselector: apps.deployment-musti-apps-meiraaccessories
  name: meiraaccessories
  namespace: musti-apps
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      workload.user.cattle.io/workloadselector: apps.deployment-musti-apps-meiraaccessories
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        cattle.io/timestamp: "2025-03-25T16:59:10Z"
      labels:
        workload.user.cattle.io/workloadselector: apps.deployment-musti-apps-meiraaccessories
      namespace: musti-apps
    spec:
      containers:
      - args:
        - --default-authentication-plugin=mysql_native_password
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "****"
        - name: MYSQL_USER
          value: *****
        - name: MYSQL_PASSWORD
          value: *****
        - name: MYSQL_DATABASE
          value: *****
        image: mariadb:11.7.2
        imagePullPolicy: Always
        name: mariadb
        ports:
        - containerPort: 3306
          name: mariadb
          protocol: TCP
        resources: {}
        securityContext:
          allowPrivilegeEscalation: true
          capabilities: {}
          privileged: true
          readOnlyRootFilesystem: false
          runAsNonRoot: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/lib/mysql
          name: vol-qrzml
          subPath: meiraaccessories/db_dir
      - env:
        - name: WORDPRESS_DB_HOST
          value: 127.0.0.1
        - name: WORDPRESS_DB_USER
          value: *****
        - name: WORDPRESS_DB_PASSWORD
          value: *****
        - name: WORDPRESS_DB_NAME
          value: *****
        - name: WORDPRESS_DEBUG
          value: "True"
        image: ozkaya84/meira-wordpress:latest
        imagePullPolicy: Always
        name: wordpress
        ports:
        - containerPort: 80
          name: wordpress
          protocol: TCP
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: false
          runAsNonRoot: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/www/html
          name: vol-qrzml
          subPath: meiraaccessories/content_dir
      dnsPolicy: ClusterFirst
      nodeName: optiplex7040
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: vol-qrzml
        persistentVolumeClaim:
          claimName: meira-local-pvc
