apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    field.cattle.io/publicEndpoints: '[{"addresses":["192.168.50.100"],"port":80,"protocol":"HTTP","serviceName":"musti-apps:musti-deployment","ingressName":"musti-apps:drulkuozkaya","hostname":"*.drulkuozkaya.com","path":"/","allNodes":false},{"port":30000,"protocol":"TCP","serviceName":"musti-apps:musti-deployment-nodeport","allNodes":true}]'
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{"deployment.kubernetes.io/revision":"18","field.cattle.io/publicEndpoints":"[{\"port\":30000,\"protocol\":\"TCP\",\"serviceName\":\"musti-apps:musti-deployment-nodeport\",\"allNodes\":true},{\"addresses\":[\"192.168.50.100\"],\"port\":80,\"protocol\":\"HTTP\",\"serviceName\":\"musti-apps:musti-deployment\",\"ingressName\":\"musti-apps:drulkuozkaya\",\"hostname\":\"*.drulkuozkaya.com\",\"path\":\"/\",\"allNodes\":false}]"},"labels":{"workload.user.cattle.io/workloadselector":"apps.deployment-musti-apps-musti-deployment"},"name":"musti-deployment","namespace":"musti-apps"},"spec":{"progressDeadlineSeconds":600,"replicas":1,"revisionHistoryLimit":10,"selector":{"matchLabels":{"workload.user.cattle.io/workloadselector":"apps.deployment-musti-apps-musti-deployment"}},"strategy":{"rollingUpdate":{"maxSurge":"25%","maxUnavailable":"25%"},"type":"RollingUpdate"},"template":{"metadata":{"labels":{"workload.user.cattle.io/workloadselector":"apps.deployment-musti-apps-musti-deployment"},"namespace":"musti-apps"},"spec":{"containers":[{"image":"ozkaya84/drulkuozkaya","imagePullPolicy":"Always","name":"drulkuozkaya","ports":[{"containerPort":80,"name":"musti-nodeport","protocol":"TCP"}],"readinessProbe":{"failureThreshold":3,"httpGet":{"path":"/","port":80,"scheme":"HTTP"},"periodSeconds":10,"successThreshold":1,"timeoutSeconds":1},"resources":{},"securityContext":{"allowPrivilegeEscalation":false,"privileged":false,"readOnlyRootFilesystem":false,"runAsNonRoot":false},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File"}],"dnsPolicy":"ClusterFirst","restartPolicy":"Always","schedulerName":"default-scheduler","terminationGracePeriodSeconds":30}}}}
  generation: 28
  labels:
    workload.user.cattle.io/workloadselector: apps.deployment-musti-apps-musti-deployment
  name: musti-deployment
  namespace: musti-apps
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      workload.user.cattle.io/workloadselector: apps.deployment-musti-apps-musti-deployment
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        workload.user.cattle.io/workloadselector: apps.deployment-musti-apps-musti-deployment
      namespace: musti-apps
    spec:
      containers:
      - image: ozkaya84/drulkuozkaya
        imagePullPolicy: Always
        name: drulkuozkaya
        ports:
        - containerPort: 80
          name: musti-nodeport
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 80
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: false
          runAsNonRoot: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
