apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "4"
    field.cattle.io/description: 'Fetching weather , crypto and currencies '
    field.cattle.io/publicEndpoints: '[{"port":30002,"protocol":"TCP","serviceName":"musti-apps:weather-api-nodeport","allNodes":true}]'
  generation: 8
  labels:
    workload.user.cattle.io/workloadselector: apps.deployment-musti-apps-weather-api
  name: weather-api
  namespace: musti-apps
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      workload.user.cattle.io/workloadselector: apps.deployment-musti-apps-weather-api
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        workload.user.cattle.io/workloadselector: apps.deployment-musti-apps-weather-api
      namespace: musti-apps
    spec:
      containers:
      - image: ozkaya84/go-weather-api
        imagePullPolicy: Always
        name: weather-api
        ports:
        - containerPort: 8080
          name: musti-api
          protocol: TCP
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
          readOnlyRootFilesystem: false
          runAsNonRoot: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
